* {
  margin: 0;
  padding: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}
.container {
  height: 100vh;
  width: auto;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}
.navbar {
  background-color: rgb(67, 101, 105);
  width: 100%;
  height: 20px;
  margin: none;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li {
  padding-right: 15px;
  list-style-type: none;
  display: inline-block;
  margin: 0 25px;
}
.navbar ul li a {
  border-radius: 5px;
  padding: 7px 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
.navbar ul li a:hover {
  background-color: rgb(14, 59, 56);
}
.navbar h1 {
  font-size: 45px;
  text-decoration: none;
  text-emphasis: bold;
  color: #ffffff;
}
.content {
  width: 100%;
  position: absolute;
  top: 30%;
}
.leftside {
  margin-left: 6%;
  margin-right: 6%;
}
.leftside h1 {
  font-size: 75px;
  color: #ffffff;
  line-height: 110px;
  float: left;
}
/* @rudraksh ya se style karna */
.footer {
  background: rgb(67, 101, 105);
  color: white;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  border: 1px;
  height: 350px;
  display: flex;
}
.footer .footer-content .footer-section {
  flex: 1;
  border: 1px;
  padding: 20px;
}
.footer .footer-content h1,
.footer .footer-content h2 {
  color: white;
}
.footer .footer-content .about .conta span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
  color: rgb(201, 201, 201);
}
.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: rgb(201, 201, 201);
}
.footer .footer-content .about p {
  color: rgb(201, 201, 201);
}
.footer .footer-content .links ul a:hover {
  color: #ffffff;
  margin-left: 15px;
  transition: all 0.3s;
}

.footer .footer-content .contact-form .contact-input {
  background: #272727;
  color: rgb(201, 201, 201);
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: 0.7rem 1.2rem;
  border: none;
}
.footer .footer-bottom {
  width: 100%;
  background-color: rgb(70, 130, 150);
  color: darkgrey;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
}
